button {
    background-color: var(--offwhite);
    color: var(--text-blue);
    border-radius: .5rem;
    margin: 1vmin;
    font-size: 2vmin;
    height: 15vmin;
    width: fit-content;
    box-shadow: 2px 3px 4px var(--text-blue)
}

button:hover {
    background-color: var(--bg-blue);
    color: var(--text-light);
    cursor: grab;
    box-shadow: none;
}

a, a:visited, a:link {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-blue);
}

.playing__field {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

li {
    text-decoration: none;
    list-style: none;
    background-color: var(--offwhite);
    border: 1px solid var(--text-blue);
    box-shadow: 4px 8px 16px var(--text-blue);
    margin: 3rem;
    display: flex;
    font-size: 1.5vmin;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vmin;

    input {
        box-shadow: 2px 2px 4px black;
        margin-right: .5rem;
        border-radius: .5rem;
    }
}


.animal__data {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.animal {
    border: solid 5px var(--bg-light);
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    .button {
        background-color: var(--bg-blue);
        text-transform: uppercase;
        cursor: grab;
        color: var(--text-light);
        padding: .25rem 1rem;
        font-size: 1rem;
        font-weight: 700;
        display: inline-block;
        margin: 1rem;
        margin-left: 1rem;
        border: 2px solid black;
        box-shadow: 0 2px 5px var(--bg-blue);
    }
    .link {
        color: black;
        padding: 1rem;
    }

    h4 {
        align-items: center;
        justify-content: center;
        text-align: center;
        color: yellow;
    }

}

.image {
    box-shadow: 2px 4px 4px black;
    padding: 1rem;
    width: 100%;
    margin: 1rem;
    border: solid 5px red;
}
