.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--text-black);
    background-color: var(--bg-light);
    border-radius: 5%;
    border: 10px solid var(--text-black);
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 4px 8px var(--bg-blue);
    .input {
        color: var(--text-blue);
        display: inline-block;
        font-size: 2.5rem;
        margin: 3rem;
        border: 0;
        background-color: var(--offwhite);
        align-items: right;
        justify-content: right;
        text-align: right;
    }
    div .image {
        margin: 4rem;
        border: solid 10px red;
    }
}
