:root{
    --offwhite: whitesmoke;
    --bg-blue: rgb(90, 7, 242);
    --bg-light: rgb(127, 105, 114);
    --text-blue: rgb(181, 49, 196);
    --text-light: rgb(177, 168, 206);
    --text-black: #161616;
}

h1 {
    color: var(--offwhite);
    background-color: red;
    border-radius: 5%;
    width: fit-content;
    padding: 5rem;
    text-align: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 1vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to left top, purple, yellow);
    color: var(--text-black);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    justify-content: center;
    align-items: center;
    width: 25%;
}

.banner{
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .img {
        width: 50vw;
        max-height: 300px;
    }
    h1 {
        width: 100%;
        text-align: center;
        color: rgba(23,5, 58, 0.8);
        background-color: whitesmoke;
    }
    .h2 {
        background-color: whitesmoke;
    }
}
