.form {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.25vmin;
    color: var(--text-black);
    min-height: 8min;

        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        input {
            padding: 1vmin;
            font-size: 2vmin;
            border: .1vmin solid var(--bg-light);
            margin: 1rem;
            border-radius: .5rem;
        }
        .button {
            margin: 1vmin;
            padding: 1vmin;
            color: var(--offwhite);
            background-color: var(--text-blue);
            min-height: 4rem;
            border-radius: 1rem;
            box-shadow: 2px 2px 4px black;
        }

        .button:hover {
            background-color: var(--text-light);
            color: var(--text-blue);
            box-shadow: none;
        }
}

h2 {
    text-align: center;
    color: var(--text-blue);
    background-color: var(--off-white);
    font-size: 2rem;
    border-radius: 5%;
    box-shadow: 1px 2px 3px var(--bg-blue);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
