.h1{
    background-color: var(--bg-blue);
    color: var(--text-light);
    font-size: 2.5rem;
    border-radius: 5%;;
    text-align: center;
}

.button {
    background-color: var(--bg-blue);
    color: var(--text--light);
    font-size: 5rem;
    min-height: 10rem;
    border-radius: 5%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.button:hover{
    background-color: var(--bg-light);
    color: var(--text-blue);
    cursor: grab;
}


input {
    margin: .5rem;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 5rem;
}
